<web-app>
    
    <servlet>
        <servlet-name>convertir</servlet-name>
        <servlet-class>Convertidor.convertir</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>convertir</servlet-name>
        <url-pattern>/convertir</url-pattern>
    </servlet-mapping>
   
</web-app>
